<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article</title>
</head>
<body>
    <table>
        <thead>
			<th>Article</th>
            <th>date pub</th>
            <th>auteur</th>
            <th>action</th>
		</thead>
        <tbody>
            <tr><td><span th:text="${article.content}"/></td>
            <td><span th:text="${#dates.format(article.date_pub, 'yyyy-MM-dd')}"/></td>
            <td><span th:text="${article.author.username}"/></td>
            <td><a th:href="@{/public/article/del/{id}(id=${article.article_id})}">Supprimer</a></td>
        </tr>
        </tbody>
		<thead>
			<th>commentaire</th>
            <th>auteur</th>
		</thead>
		<tbody>
			<tr th:each="commentary: ${article.commentary}">
				<td><span th:text="${commentary.content}"/></td>
				<td><span th:text="${commentary.author.username}"/></td>
			</tr>
		</tbody>
	</table>
</body>
</html>