<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liste categorie</title>
</head>
<body>
    <table>
		<thead>
			<th>Name</th>
			<th>id</th>
			<th>Link</th>
		</thead>
		<tbody>
			<tr th:each="category: ${categories}">
				<td><span th:text="${category.name}"/></td>
				<td><span th:text="${category.categoryId}"/></td>
				<td><a th:href="@{/public/category/{id}(id=${category.categoryId})}">voir plus</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>